*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card{
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}
.card>img{
    max-width: 850px;
    max-height: 350px;
}

.btn   {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s
}

.btn:hover{
    background-color: #0c48c9;
    transition: background-color 0,3s;}